<!-- Om Ganeshay Namah  -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
    <h1 class="header-txt">
        "Bada screen m dekh gandu"
    </h1>
    <header>
        <nav>
            <div class="logo" id="himg">

                <img src="{% static 'img/footer-logo.png' %}" alt="logo" width="112" height="28">

            </div>
            <div class="center" id="center">

                <a class="nav-mid" href="#">HOME<span></span></a>
                <a class="nav-mid" href="#">CAFE<span></span></a>
                <a class="nav-mid" href="#">ABOUT <span></span></a>
                <a class="nav-mid" href="#">SERVICES<span></span></a>

            </div>
            <div class="right">
                <button class="nav-btn">Rental</button>
                <button class="nav-btn">Contact</button>
            </div>
        </nav>
    </header>
    <main>
        <section class="bg-img-wrapper" style="padding: 0;">
            <div class="mimg" , class="main1">
                <img src="{% static 'img/slide-1.jpg' %}" class="bg-img" alt="">
            </div>
            <div class="c-img-designs">
                <img src="{% static 'img/red-mark.png' %}" alt="error" id="red-mark" />
                <div id="apex-game-img">
                    <img src="{% static 'img/apex.jpg' %}" class="game-img" alt="">
                </div>
                <div id="war-game-img">
                    <img src="{% static 'img/warzone.jpg' %}" class="game-img" alt="">
                </div>
                <div id="dota-game-img">
                    <img src="{% static 'img/dota.jpg' %}" class="game-img" alt="">
                </div>
                <div id="counter-game-img">
                    <img src="{% static 'img/csgo.jpg' %}" class="game-img" alt="">
                </div>
                <div id="val-game-img">
                    <img src="{% static 'img/valorant2.jpg' %}" class="game-img" alt="">
                </div>
            </div>
        </section>
        <section id="dark-bg-img">
            <h2 class="title">Our Gaming <span style="color: red;"> Cafe's</span></h2>
            <p>Cafe</p>
            <div class="img-gallery">
                <div class="imgs"><img src="{% static 'img/1.jpg' %}" alt=""></div>
                <div class="imgs"><img src="{% static 'img/2.jpg' %}" alt=""></div>
                <div class="imgs"><img src="{% static 'img/3.jpg' %}" alt=""></div>
                <div class="imgs"><img src="{% static 'img/4.jpg' %}" alt=""></div>
                <div class="imgs"><img src="{% static 'img/5.jpg' %}" alt=""></div>
                <div class="imgs"><img src="{% static 'img/6.jpg' %}" alt=""></div>
                <!-- <div class="imgs" class="extr-img"><img src="{% static 'img/7.jpg' %}" alt=""></div>
                <div class="imgs" class="extr-img"><img src="{% static 'img/8.jpg' %}" alt=""></div> 
            </div> -->
        </section>
        <script>
            let url = "{% static 'img/dark-bg.jpg' %}";
            document.getElementById('dark-bg-img').style.backgroundImage = `url('${url}')`;


        </script>
        <section id="about-us">
            <h2 class="au-title">About <span style="color: red;"> us</span></h2>
            <p class="about-info" class="about-info-1">Next Level Cafe’s are a chain of gaming cafes which provide a
                large range of games like Arcade, Console, PC, retro gaming and VR Simulators.</p>
            <p class="about-info" class="about-info-2">Apart from catering with top of the line gaming experience we
                also have a good ambience for food and beverages.</p>
            <div class="box">
                <div class="box1"><img src="{% static 'img/vision.png' %}" alt="vision">
                    <h2>vision</h2>
                    <p>To be the premier gaming cafes chain in India, with multiple outlets across the country. We aim
                        to cater to the masses and provide a platform for gamers of all skill levels to connect,
                        compete, and provide infrastructure for career in gaming.</p>
                </div>
                <div class="box2"><img src="{% static 'img/mission.png' %}" alt="mission">
                    <h2>mission</h2>
                    <p style="margin-bottom: 10rem ">To promote a love for gaming and foster community through immersive
                        gaming experiences. Our gaming cafe provides an affordable and inclusive environment for gamers
                        of all skill levels to connect and have fun. We prioritize customer relations and aim to create
                        a welcoming space for all types of gamers.</p>
                </div>
            </div>
        </section>

        <script>
            url = "{% static 'img/about-bg.jpg' %}";
            document.getElementById('about-us').style.backgroundImage = `url('${url}')`;
        </script>

        <section id="our-services">
            <h2 class="os-title">Our <span style="color: red;"> Services</span></h2>
            <div class="s-wrapper">
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">We provide two tiers of cafe experiences: Express and Flagship. Our very first
                        Flagship cafe was launched at Juhu Circle in Mumbai.</p>
                </div>
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">We provide two tiers of cafe experiences: Express and Flagship. Our very first
                        Flagship cafe was launched at Juhu Circle in Mumbai.</p>
                </div>
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">Experience the thrill of high-speed racing at our gaming cafe, where you can take
                        control of authentic racing wheel simulators for an immersive and adrenaline-pumping gaming
                        experience like no other.</p>
                </div>
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">We provide two tiers of cafe experiences: Express and Flagship. Our very first
                        Flagship cafe was launched at Juhu Circle in Mumbai.</p>
                </div>
            </div>
            <div class="s-wrapper">
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">Our gaming cafes boast cutting-edge streaming rooms equipped with the latest
                        technology, providing gamers with the perfect environment to stream and go live, taking their
                        gaming experience to the next level.</p>
                </div>
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">We provide two tiers of cafe experiences: Express and Flagship. Our very first
                        Flagship cafe was launched at Juhu Circle in Mumbai.</p>
                </div>
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">We provide two tiers of cafe experiences: Express and Flagship. Our very first
                        Flagship cafe was launched at Juhu Circle in Mumbai.</p>
                </div>
                <div class="services">
                    <img src="{% static 'img/os1.png' %}" alt="">
                    <p class="title">Gaming Cafe</p>
                    <p class="desc">We provide two tiers of cafe experiences: Express and Flagship. Our very first
                        Flagship cafe was launched at Juhu Circle in Mumbai.</p>
                </div>
            </div>
        </section>
        <script>
            url = "{% static 'img/dark-bg.jpg' %}";
            document.getElementById('our-services').style.backgroundImage = `url('${url}')`;
        </script>


        <section id="brand-bg-img"
            style="min-height: 70vh; display: flex; justify-content: end; align-items: center; background-repeat: no-repeat; ">
            <div style="width: 40%; display: flex; flex-direction: column; gap: 18px;">
                <p class="bbi-title">Brand <span style="color: red;">Integrations</span></p>
                <p class="bbi-desc">Our cafes also offer a range of marketing activities for the brands who would like
                    to come onboard as sponsors for the cafes. The offering which we would have are :-</p>
                <ul class="bbi-ul">
                    <li>Powered by game zones</li>
                    <li>Display area for products</li>
                    <li>Branding space</li>
                    <li>Streaming room integrations</li>
                    <li>Experience zone &amp; Workshops</li>
                    <li>Powered by tournaments</li>
                </ul>
            </div>
        </section>
        <script>
            url = "{% static 'img/brand-bg.jpg' %}";
            document.getElementById('brand-bg-img').style.backgroundImage = `url('${url}')`;
        </script>



        <section id="footer-end">
            <div class="footer-info">
                <div class="outrow-1"><img src="{% static 'img/footer-logo.png' %}" alt="logo" width="112" height="28">
                </div>
                <div>
                    <p>Creating an affordable and accessible gaming ecosystem</p>
                </div>
            </div>
        </section>
        <script>
            url = "{% static 'img/dark-bg.jpg' %}";
            document.getElementById('footer-end').style.backgroundImage = `url('${url}')`;
        </script>

    </main>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>